.btn-cadastre-se {font-weight:bold; padding:15px 30px; color:#CC0000 !important;}
.sub-header {padding-bottom:10px; border-bottom:1px solid #eee;}
.sem-margem-embaixo {margin-bottom: 0;}
div#mapaBrasil svg path {fill:#428BCA; stroke:#EEE; cursor:pointer;}
div#mapaBrasil svg path:hover {fill:#337AB7; stroke:#EEE}